h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; /* https://www.w3schools.com/cssref/css_websafe_fonts.asp */
  color: pink;
}

.col {
  padding: 50px;
}

.col img {
  width: 250px;
}

.not_first_row {
  margin-top: 50px;
}

img {
  opacity: 1;
  object-fit: contain;
  height: 200px;
}

img:hover {
  opacity: .8
}

.hidden {
  display: none
}

.post_p {
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
}

.post_h1 {
  margin-left: 100px;
}

.content_body {
  margin: 20px;
}

#carouselExampleIndicators {
  float: right;
  width: 600px;
}
