{% extends "layout.html" %}
{% block content %}
  <h1>ACTIVITY: Hello, World!</h1>
  <div class="row">
    <div class="col">
      <a href="/post/1"><img src="https://www.ucf.edu/pegasus/files/2017/06/PegasusHomepage_Header-1600x900-su17-Creativity2.jpg" /></a>
    </div>
    <div class="col">
      <img src="https://www.ucf.edu/pegasus/files/2017/06/PegasusHomepage_Header-1600x900-su17-Creativity2.jpg" />
    </div>
    <div class="col">
      <a href="/post/1"><img src="https://www.ucf.edu/pegasus/files/2017/06/PegasusHomepage_Header-1600x900-su17-Creativity2.jpg" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/post/1"><img src="https://www.ucf.edu/pegasus/files/2017/06/PegasusHomepage_Header-1600x900-su17-Creativity2.jpg" /></a>
    </div>
    <div class="col">
      <img src="https://www.ucf.edu/pegasus/files/2017/06/PegasusHomepage_Header-1600x900-su17-Creativity2.jpg" />
    </div>
    <div class="col">
      <a href="/post/1"><img src="https://www.ucf.edu/pegasus/files/2017/06/PegasusHomepage_Header-1600x900-su17-Creativity2.jpg" /></a>
    </div>
  </div>
{% endblock %}
