<!doctype html>
<head>
  <title>Mia's CAS project</title>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/component.css') }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cbpGridGallery.js') }}"></script>
</head>
  <body>
    <h1 class="title_h1">Mia's CAS project</h1>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/creativity">CREATIVITY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activity">ACTIVITY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/service">SERVICE</a>
      </li>
      <li class="nav-item">
        <div style="padding: .5rem 1rem;">
          <i class="fas fa-search" style="position: absolute; margin-left: 5px; margin-top: 5px;"></i>
          <input type="text" class="input_search" style="border: none; width: 150px" placeholder="________________">
        </div>
      </li>
    </ul>
    <div class="content_body">
      {% block content %}
      {% endblock %}
      <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap">
          <ul class="grid">
            <li class="grid-sizer"></li><!-- for Masonry column width -->
              {% block grid %}
                {% for post in posts_info %}
                  {% set post_num = loop.index - 1 %}
                  <li>
            				<figure>
                      <div class="card">
                        <a href="/post/{{post['post_id']}}"><img class="card-img-top" src="static/img/{{post['post_img_name']}}" /></a>
                        <div class="card-body">
                          <p class="card-text">{{post['post_title']}}</p>
                          <p class="card-text">{{post['post_text']|striptags|truncate(150, False, '...', 0)}}</p>
                          <a href="/post/{{post['post_id']}}" class="btn btn-outline-primary">Read more {{col_num}} {{num_of_columns_this_row}}</a>
                        </div>
                      </div>
                    </figure>
                  </li>
                {% endfor %}
        {% endblock %}
      </div>
    </div>
    <!-- JavaScript for Bootstrap -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
      $("input").keypress(function(e) {
        if (e.which == 13) {
          window.location.replace('http://127.0.0.1:5000/search?q=' + $("input").val())
        }
      });
    </script>
    <script>
      $(function() {
    	   new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
      });
    </script>
  </body>
</html>
