<!doctype html>
<head>
  <title>Hello from Flask</title>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
  <body>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/creativity">Creativity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activity">Activity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/service">Service</a>
      </li>
    </ul>
    {% block content %}
    {% endblock %}
    {% block grid %}
      {% for post in posts_info %}
        {% set post_num = loop.index - 1 %}
        {% if post_num%num_of_columns == 0 %}
          {% if post_num != 0 %}
            </div>
          {% endif %}
          <div class="row {% if post_num != 0 %}not_first_row{% endif %}">
        {% endif %}
        <div class="col-sm">
          <div class="card">
            <a href="/post/{{post['post_id']}}"><img class="card-img-top" src="static/img/{{post['post_img_name']}}" /></a>
            <div class="card-body">
              <p class="card-text">{{post['post_title']}}</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/post/{{post['post_id']}}" class="btn btn-outline-primary">Read more {{col_num}} {{num_of_columns_this_row}}</a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if num_of_placeholders > 0 %}
        {% for col_num in range(num_of_placeholders) %}
          <div class="col-sm">
          </div>
        {% endfor %}
      {% endif %}
      </div>
    {% endblock %}
    <!-- JavaScript for Bootstrap -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
